.errors {
    text-align: left;
    color: #F44336;
}
.success {
    text-align: left;
    color: white;
    font-size: 17px;
    background: #3bb83b;
    padding: 3px 10px 4px;
    border-radius: 5px;
}
.error {
    text-align: left;
    color: white;
    font-size: 17px;
    background: #F44336;
    padding: 3px 10px 4px;
    border-radius: 5px;
}